src/main/resources/data/users.dtd

<!ELEMENT users (user*)>
<!ELEMENT user (name, surname)>
<!ATTLIST user
    id ID #REQUIRED
    skillLevel (Beginner|Intermediate|Advanced) #REQUIRED
    preferredCuisine (Italian|Asian|Mexican|French|Mediterranean|Indian|American|British|Middle-Eastern|Greek) #REQUIRED>
<!ELEMENT name (#PCDATA)>
<!ELEMENT surname (#PCDATA)>
